@media(max-width:768px){

    section {
        padding-right: 20px;
        padding-left: 20px;
    }

    header .bg-body-tertiary {
        padding-right: 10px;
        padding-left: 10px;
        display: none;
    }

    header .navbar-expand-lg {
        display: block;
        line-height: 1.7;
    }

    .navbar-toggler {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: -20px;
        outline: none;
        box-shadow: none;
        border: none;
    }

    .navbar-toggler span {
        margin-left: 5px;
      }

    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
        border: none;
      }

    .input-container, .input-field {  
        width: 100%;
    }

    header .navbar-expand-lg .navbar-nav .nav-item {
        border-top: 1px solid black;
        border-color: rgba(0, 0, 0, 0.2);
    }

    header .navbar-expand-lg .navbar-nav .nav-item:last-child {
        border-bottom: 1px solid black;
        border-color: rgba(0, 0, 0, 0.2);
    }

    header .navbar-expand-lg .d-flex {
        padding: 5px 0;
    }

    a.site-logo img {
        width: 300px; /* Set a fixed width for the image */
    }

    .desktop-links {
        display: none;
    }

    .fir-card .fir-contents {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 20px;
      }

      .map-section {
        margin-top: 15%;
    }

    .map-section .map-sec-img {
        display: none;
    }

    .footer .ftr-wrapper .coprt {
        font-size: .8rem;
    }
    

    /* ARCHIVE PAGE */

    .fir-card .archive-page {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px; /* Adjust the value to set the desired gap */
    }

    /* CONTACT PAGE */
    .cont-form {
        width: 100%;
        margin: 4em auto 0;
    }

    /*--- SEARCH PAGE ---*/
    .search-form .input-group {
        max-width: 100%;
    }

}

@media(max-width:749px) {

    .map-section .map-sec-img {
        display: block;
    }

    .map-section .map-sec .map-sec-txt {
        flex: 1 1 100%;
        order: 1;
      }
    
      .map-section .map-sec .map-sec-img {
        flex: 1 1 100%;
        order: 2;
      }

      .map-section {
        margin-bottom: 50%;
        
    }

}

@media screen and (max-width: 480px) {

    .fir-card .fir-contents {
      grid-template-columns: repeat(2, 1fr);
    }

}

