@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
    --Dark-Goldenrod: #b0842e;
    --Dark-Gray: #767676;
}

/* Base style */

* {
    font-family: 'Abel', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
}

body {
	background: #f1f0ee;
}

/* Reuseable components */

section {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}

.fir-card {
    margin-top: 50px;
    margin-bottom: 100px;
}

.fir-card .fir-heading {
    font-size: 1.8rem;
    color: var(--Dark-Gray);
    /* margin: 50px 0; */
}

.fir-card .fir-ptag {
    color: var(--Dark-Gray);
    margin: 20px 0;
}

.fir-card .fir-ptag a {
    text-decoration: none;
    color: var(--Dark-Goldenrod);
}

.fir-card .fir-contents {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px; /* Adjust the value to set the desired gap */
}

.fir-card .fir-contents .img-txt {
    width: 100%;
    height: 100%;
}

.fir-card .fir-contents .img-txt a {
    font-weight: 800;
    color: var(--Dark-Gray);
    text-decoration: none;
}

.fir-card .fir-contents .img-txt .fir-pt-amnt {
    font-size: .8rem;
    font-weight: 300;
}
  
.fir-card .fir-contents .img-txt img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Header section */

header .bg-body-tertiary {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
    background: var(--Dark-Goldenrod) !important;
}

.input-container { 
    position: relative;
    display: flex;
    align-items: center;
}

.input-img {
    position:absolute;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
    left: 0;
}

.input-field { 
    width: 70%;
    height: 125%;
    background: #fff;
    padding-left: 37px;
    padding-right: 20px;
    border-radius: 2px;
    border: 1px solid transparent;
}

header .navbar-brand {
    display: flex;
    align-items: center;
}

header .navbar-expand-lg {
    display: none;
}

/* Logo section */

a.site-logo {
    pointer-events: none; /* Disable pointer events for the parent link */
}
  
a.site-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 400px; /* Set a fixed width for the image */
    pointer-events: auto; /* Enable pointer events for the image */
}

/* Desktop links */

.d-links .links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 30px;
    padding: 10px;
    border-top: 1px solid var(--Dark-Gray);
    border-bottom: 1px solid var(--Dark-Gray);
}

.d-links .links li {
    margin-right: 10px;
}

.d-links .links li a {
    display: block;
    font-size: 20px;
    color: var(--Dark-Gray);
    text-decoration: none;
}

/* Image slides */

.fir-image-slide {
    margin-top: 5%;
}

/* Previous exhibitions */

.fir-card {
    margin-top: 5%;
}

.fir-contents {
    margin-top: 2%;
}

/* Map section */

.map-section {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
}

.map-section .map-sec {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.map-section .map-sec .map-sec-txt {
    flex: 1 1 50%;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 30px;
    background-color: #f4f4f4;
}

.map-section .map-sec .map-sec-img {
    flex: 1 1 50%;
    overflow: hidden;
    position: relative;
    height: 100%;
}
  
.map-section .map-sec .map-sec-img .sec-img {
    background-image: url(../assets/images/add-img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
  

.btn {
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 2px;
    background-color: #b0842e;
    color: white;
}

.btn:hover {
    background-color: #b0842e;
    color: white;
}

.map-section .map-sec .map-sec-img .sec-img {
    background-image: url(../assets/images/map-img.jpg);
    background-position: center;
    height: 100%;
    background-size: cover;
}

/* Newsletter section */

.newsl-sec {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    padding-top: 40x;
    padding-bottom: 40px;
}

.newsl-sec .newsl-sec-box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.newsl-sec .newsl-sec-box .newsl-sec-sub {
    flex: 1 1 50%;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 30px;
    background-color: #f4f4f4;
}

.newsl-sec .newsl-sec-box .newsl-sec-sub .cont-box {
    display: inline-block;
    text-align: left;
}

.newsl-sec .newsl-sec-box .newsl-sec-form {
    flex: 1 1 auto;
    min-width: 50%;
    overflow: hidden;
    position: relative;
    padding: 60px;
    background-color: #eaebea;
}

.newsl-sec .newsl-sec-form .form-control, .btn-primary {
    border-radius: 0 !important;
    outline: none;
    border: none;
}

/*Footer section  */

.footer .ftr-wrapper {
    background-color: rgba(0, 0, 0, 0);
    padding-top: 30px;
    padding-bottom: 20px;
    color: #b0842e;
    border-top: 1px solid black;
    border-color: var(--Dark-Gray);
    margin-top: 50px;
}

.ftr-social-md {
    text-align: center;
    margin-bottom: 50px;
}

.ftr-social-md ul {
    padding: 0;
}

.ftr-social-md ul a {
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
    color: #b0842e;
}

.footer .ftr-wrapper .coprt {
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.footer .ftr-wrapper .coprt a {
    text-decoration: none;
    color: #b0842e;
}

.pay-icons ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    list-style: none; /* Remove default bullets */
    padding: 0; /* Remove default padding */
}



/*--- ARCHIVE PAGE ---*/

.fir-card .archive-page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px; /* Adjust the value to set the desired gap */
}





/*--- CONTACT PAGE ---*/

.cont-form {
    width: 70%;
    margin: 4em auto 0;
}





.cont-form .form-control {
    border-radius: 0 !important;
    outline: none;
    border: none;
}

/*--- SEARCH PAGE ---*/
.search-form .input-group {
    max-width: 50%;
 }

.search-form .input-group .rounded, .btn-outline-primary  {
    border-radius: 0 !important;
    outline: none;
    border: none;
 }